[project]
name = "Quetzal Analytic Tools"
version = "0.0.1"
description = "django tool to visualize demographics for a specific location"
authors = [
    "Elmer Camargo <elmer@tazacafe.us>"
]
license = "MIT license"
requires-python = ">=3.8"

keywords = ["small-business", "quetzal", "census", "demographics"]

classifiers = [
    "Topic :: Software Development"
]

[tool.poetry]
name = "Quetzal Analytic Tools"
version = "0.0.1"
description = "census wrapper to get demographics for a specific location"
authors = [
    "Elmer Camargo <elmer@tazacafe.us>"
]
packages = [
	{ include = "spatial_tools/census_api.py" },
]

[tool.poetry.dependencies]
python = "^3.8"